body,
button,
input,
select,
textarea {
  font-size: 20px !important;
  color: #6e6e6e;
  font-family: Karla !important;
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
}

a {
  color: #5c7cfb;
  text-decoration: none;
}
a {
  background-color: transparent;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-top: 0;
  color: #6e6e6e;
  font-family: Karla !important;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.description {
  margin-left: 100px;
  margin-right: 100px;
  padding: 100px;
  padding-bottom: 0px;
  padding-top: 30px;
}

.center {
  margin-top: 25px;
  text-align: center;
}

.title {
  font-size: 55px;
  font-weight: bolder;
}

.subtitle {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 40px;
}

.subtitle-2 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0px;
}

.grid-subtitle {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 30px 100px 10px 100px;
}

.grid-item {
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

img {
  width: 25%;
}

.btn-holder {
  text-align: center;
  margin-top: 35px;
}

.primary-btn {
  display: inline-block;
  background: #fc2850;
  color: white;
  padding: 14px 43px;
  line-height: 1.6875em;
  font-size: 0.8em;
  font-weight: 700;
  border: 1px solid #fc2850;
  border-radius: 100px;
  transition: ease, 0.2s;
  text-transform: uppercase;
}

.primary-btn:hover,
.primary-btn:focus {
  background: #ffffff;
  border-color: #fc2850;
  color: #fc2850;
  text-decoration: none;
}
