<div class="center">
  <p>[Icon here]</p>
  <p class="title">Karpatica Travel</p>
  <p>[Motto here]</p>
  <br /><br />
  <p class="subtitle">About us</p>
  <p>[Description here]</p>
  <div class="grid-container">
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Personalized vacations</p>
      <br />
      <p>
        Did you run out of ideas for a city break? Don't know what would be the
        perfect vacation for your family? Do you want to surprise your partner
        by giving him an unforgettable surprise? We know it's hard to choose
        from so many offers. We challenge you! Call us or write us an email with
        your wish and we promise you that what we will offer you will not
        disappoint you. We can't wait for you to get to work.
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Events</p>
      <br />
      <p>
        Whether it's throwing tomatoes, listening to jazz, tasting wine or food,
        telling stories, dancing, music, ice sculpting - there are countless
        festivals around the world that you can't miss. Choose a destination and
        enjoy the festivities, get to know people, develop your knowledge about
        other cultures and religions. The world is colorful, worth discovering!
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Bucket List</p>
      <br />
      <p>
        Certainly, each of us dreamed of a unique vacation, exotic or full of
        adventures, with family or solo, on a yacht or with a tent. Your dream
        is now much easier to fulfill. We are here for you to spend your holiday
        time, even a day, relaxing. The organization of the vacation should be
        left to the professionals. Rest assured: now you know people who know
        people.
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Family vacations</p>
      <br />
      <p>
        Surely, when you want a family vacation you want to know that everything
        is extremely well planned so that unpleasant surprises are kept to a
        minimum. But how do you share the desire of your partner to take
        advantage of the holiday to rest, the desire of the little ones to have
        maximum fun, or the desire of the teenager not to get bored in a
        vacation with parents? Oh, we know, complicated, hard, but if it goes
        well you will be the most appreciated member of the family ... during
        the holidays at least. We look forward to your challenge!
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Sustainable tourism</p>
      <br />
      <p>
        Travel brings us closer to the most amazing natural wonders of our
        planet and connects us with cultures from around the globe. But let's
        not forget, travel also has the power to change the places and lives of
        the people who live there - for better or for worse.
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
      <br />
      <br />
      <p class="grid-subtitle">Personalized vacations</p>
      <br />
      <p>
        Did you run out of ideas for a city break? Don't know what would be the
        perfect vacation for your family? Do you want to surprise your partner
        by giving him an unforgettable surprise? We know it's hard to choose
        from so many offers. We challenge you! Call us or write us an email with
        your wish and we promise you that what we will offer you will not
        disappoint you. We can't wait for you to get to work.
      </p>
    </div>
  </div>
  <p class="subtitle">Are you ready to travel with us?</p>
  <button mat-raised-button (click)="navigateToStart()">
    Start browsing the perfect vacation
  </button>
  <br /><br />
  <p class="subtitle">More awesome photos</p>
  <div class="grid-container">
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
    <div class="grid-item">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/24/13/24/error-1349562_960_720.png"
      />
    </div>
  </div>
</div>
