<form [formGroup]="form">
  <div class="column-flex">
    <h1>Add location</h1>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Enter the name..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address" placeholder="Enter the address..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price per night</mat-label>
      <input matInput type="number" formControlName="pricePerDay" placeholder="Enter the price per night..." />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Distance from center</mat-label>
      <input matInput type="number" formControlName="distanceFromCenter" placeholder="Enter the distance..." />
    </mat-form-field>

    <span>Is available

      <mat-checkbox matInput formControlName="isAvailable"></mat-checkbox>
    </span>

    <div class="photo-section row-flex">
      <mat-form-field appearance="outline">
        <mat-label>Photo URL</mat-label>
        <input matInput type="text" formControlName="photoURL" placeholder="Enter the photo URL..." />
      </mat-form-field>
      Preview:
      <img [src]="form.value.photoURL" class="image-preview" alt="" />
    </div>

    <div class="buttons row-flex">
      <button mat-flat-button class="cancel" (click)="closeDialog()">
        Cancel
      </button>
      <button mat-flat-button class="add-location" (click)="addLocation()">Add location</button>
    </div>
  </div>
</form>
