<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  KarpaticaTravel
  <p style="font-size: medium; vertical-align: bottom; margin: 0 0 -4px">
    &nbsp;{{ version_x }}.{{ version_y }}.{{ version_z }}
  </p>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span (click)="navigateToLogin()" id="account">Authenticate</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span (click)="navigateToBookings()" id="account">My Bookings</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span (click)="navigateToReviews()" id="account">My Reviews</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span (click)="navigateToActivities()" id="account">All Activities</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span (click)="navigateToDashboard()">Dashboard</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span (click)="navigateToSettings()">Settings</span>
    </button>

    <br /><br /><br />
    <p>{{ deviceType }} - {{ os }}</p>
    <p>{{ browser }} {{ browserVersion }}</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
