<div class="wrapper">
  <mat-card>
    <div class="location-photo" *ngIf="location">
      <img [src]="location.photo" alt="photo" [width]="400" [height]="300" />
    </div>
    <div class="location-details" *ngIf="location">
      <div class="details">
        <h1 class="name">{{ location.name }}</h1>
        <h2 class="row-flex">
          {{ location.address }} <mat-icon>circle</mat-icon>
          <h4>{{ location.distanceFromCenter }} km from center</h4>
        </h2>
        <div class="lower-half">
          <h2>
            Price / night: {{ location.pricePerDay }} <mat-icon>euro</mat-icon>
          </h2>
          <h2 class="available" *ngIf="location.isAvailable">Available</h2>
          <h2 class="not-available" *ngIf="!location.isAvailable">
            Not available
          </h2>
        </div>
      </div>
    </div>
    <div class="booking">
      <button
        mat-button
        mat-ripple
        (click)="book()"
        mat-raised-button
        [disabled]="!location.isAvailable"
      >
        Book
      </button>
    </div>
  </mat-card>
  <div>
    <mat-expansion-panel hideToggle class="reviews-header">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reviews

          <mat-icon class="right">keyboard_arrow_down</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let review of reviews" class="review">
        {{ review.title }}
        {{ review.description }}
        {{ review.rating }}
      </div>
    </mat-expansion-panel>
  </div>
</div>
