.location-details {
  width : 10rem;
  height: auto;
}

.row-flex {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  gap            : 0.5rem;
}

.lower-half {
  margin-top: 5rem;
}

.details {
  display        : flex;
  align-items    : flex-start;
  justify-content: flex-start;
  flex-direction : column;
  font-size      : large;
  width          : 15rem;
}

.location-photo {
  display       : flex;
  flex-direction: column;
  position      : relative;
  top           : 0%;
  left          : 0%;
}


.booking {
  margin-left: 5rem;
}

mat-icon {
  margin-top: 0.5rem;
}

h4 {
  margin-top: 1rem;
}


.reviews-header {
  display        : flex;
  flex-direction : row;
  justify-content: start;
  align-items    : start;
  width          : 25vw;
}

.name {
  color: rgba(0, 26, 255, 0.527)
}

mat-card {
  display       : flex !important;
  flex-direction: row;
  gap           : 4rem;
  width         : 45vw;

}

.right {
  padding-left: 23rem;
}

mat-panel-title {
  margin-top: 1rem;
}


.review {}

mat-icon {
  font-size: 1rem;
}

.wrapper {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin-top     : 3rem;
  gap            : 6rem;
  flex-direction : column;
}


.available {
  color: green
}

.not-available {
  color: red
}

.booking {
  display        : flex;
  align-items    : end;
  justify-content: flex-end;
}
