<div class="centered">
  <table>
    <tr>
      <th colspan="5"><h1>Search for a location...</h1></th>
    </tr>
    <tr>
      <td>
        <ul class="dropdown">
          <li>
            <a
              >{{
                chosenPackage != "Choose package type"
                  ? chosenPackage
                  : "Select a package"
              }}
            </a>
            <ul>
              <li>
                <a>
                  Package Type <br />
                  <select
                    [(ngModel)]="chosenPackage"
                    class="form-control"
                    name="packageType"
                    id="packageType"
                  >
                    <option [ngValue]="" disabled selected>
                      Choose package type
                    </option>
                    <option
                      *ngFor="let packageType of packageTypes"
                      [ngValue]="packageType"
                    >
                      {{ packageType }}
                    </option>
                  </select></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </td>
      <td>
        <ul class="dropdown">
          <li>
            <a>{{
              chosenCountry != "Select Country" && chosenCity != "Select City"
                ? chosenCountry + ", " + chosenCity
                : "Select Destnation"
            }}</a>
            <ul>
              <li>
                <a>
                  Destination Country <br />
                  <select
                    [(ngModel)]="chosenCountry"
                    class="form-control"
                    name="country"
                    id="country"
                  >
                    <option [ngValue]="" disabled selected>
                      Select Country
                    </option>
                    <option
                      *ngFor="let country of countries"
                      [ngValue]="country.name"
                    >
                      {{ country.name }}
                    </option>
                  </select></a
                >
              </li>
              <li>
                <a>
                  Destination City <br />
                  <select
                    [(ngModel)]="chosenCity"
                    class="form-control"
                    name="city"
                    id="city"
                  >
                    <option [ngValue]="" disabled selected>Select City</option>
                    <option *ngFor="let city of cities" [ngValue]="city.name">
                      {{ city.name }}
                    </option>
                  </select></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </td>
      <td>
        <ul class="dropdown">
          <li>
            <a>{{ chosenDate + ", " + chosenNumberOfNights + " nights" }}</a>
            <ul>
              <li>
                <a>
                  Check-In Date: <br />

                  <input
                    type="date"
                    id="start"
                    name="trip-start"
                    [(ngModel)]="chosenDate"
                    min="2018-01-01"
                    max="2048-12-31"
                /></a>
                >
              </li>
              <li>
                <a>
                  Number of nights <br />
                  <select
                    [(ngModel)]="chosenNumberOfNights"
                    class="form-control"
                    name="night"
                    id="night"
                  >
                    <option [ngValue]="" disabled selected>
                      Select Number of Nights
                    </option>
                    <option
                      *ngFor="let night of numberOfNights"
                      [ngValue]="night"
                    >
                      {{ night }}
                    </option>
                  </select></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </td>
      <td>
        <ul class="dropdown">
          <li>
            <a>Choose your room</a>
            <ul>
              <li>
                <a>
                  Room Type <br />
                  <select class="form-control" name="room" id="room">
                    <option value="" disabled selected>Select Room Type</option>
                    <option *ngFor="let room of roomTypes" [value]="room">
                      {{ room }}
                    </option>
                  </select></a
                >
              </li>
              <li>
                <a>
                  Number of Rooms<br />
                  <select class="form-control" name="roomNr" id="roomNr">
                    <option value="" disabled selected>
                      Select Number of Rooms
                    </option>
                    <option
                      *ngFor="let roomNr of numberOfRooms"
                      [value]="roomNr"
                    >
                      {{ roomNr }}
                    </option>
                  </select></a
                >
              </li>
              <li>
                <a>
                  Number of Adults<br />
                  <select class="form-control" name="adultNr" id="adultNr">
                    <option value="" disabled selected>
                      Select Number of Adults
                    </option>
                    <option
                      *ngFor="let adultNr of adultsNumber"
                      [value]="adultNr"
                    >
                      {{ adultNr }}
                    </option>
                  </select></a
                >
              </li>
              <li>
                <a>
                  Number of Kids<br />
                  <select class="form-control" name="kidNr" id="kidNr">
                    <option value="" disabled selected>
                      Select Number of Kids
                    </option>
                    <option *ngFor="let kidNr of kidsNumber" [value]="kidNr">
                      {{ kidNr }}
                    </option>
                  </select></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </td>
      <td>
        <button (click)="onSearch()">Search for packages...</button>
      </td>
    </tr>
  </table>
</div>
<br />
<br />
<br />
<div class="centered2">
  <h1>All Activities</h1>
</div>
<div class="centered2">
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
</div>
<br />
<br />
<br />
<div class="centered2">
  <h1>Favourite Locations</h1>
</div>
<div class="centered2">
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
  <span></span>
  <div class="square"></div>
</div>
