body, button, input, select, textarea {
  font-size: 20px !important;
  color: #6e6e6e;
  font-family: Karla !important;
  background-color: white;
}

a {
  color: #5c7cfb;
  text-decoration: none;
}
a {
  background-color: transparent;
}

img {
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-top: 0;
  color: #6e6e6e;
  font-family: Karla !important;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.image-carousel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5vh;
}

.trip-content-area {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  margin: 0 10 35px;
}

.page-content {
  margin: 1.5em 0 0;
}

.page-header .page-title {
  font-size: 1.9em;
  line-height: 1.210em;
  font-weight: 700;
  color: #010101;
  margin: 0 0 10px;
}

.activity-wrapper{
  margin: 120px;
}

.activities-holder {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.activities-holder .item {
  width: 33.333%;
  padding: 0 15px;
  margin: 0 0 30px;
}

.wpte-trip-category {
  margin-bottom: 56px;
  position: relative;
}

.wpte-trip-category .wpte-trip-category-img-wrap {
  position: relative;
}

.wpte-trip-category .wpte-trip-category-img-wrap figure {
  position: relative;
  overflow: hidden;
  padding-top: 105%;
  border-radius: 4px;
  background-color: #efefef;
  transition: all .3s ease;
  margin: 0;
}

.wpte-trip-category .wpte-trip-category-img-wrap figure a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  text-decoration: none;
}

.wpte-trip-category:hover .thumbnail img {
    transform: scale(1.1);
}

.wpte-trip-category:hover .wpte-trip-category-img-wrap .wpte-trip-category-overlay {
  visibility: visible;
  opacity: 1;
}

.wpte-trip-category .wpte-trip-category-img-wrap figure img {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.wpte-trip-category .wpte-trip-category-img-wrap .wpte-trip-category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: rgba(20,125,254, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.wpte-trip-category .wpte-trip-category-img-wrap .wpte-trip-subcat-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
}

.wpte-trip-category .wpte-trip-category-img-wrap .wpte-trip-category-btn {
  margin-top: 24px;
}

.wpte-trip-cat-btn {
  text-align: center;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s ease;
  transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateY(30px);
  visibility: hidden;
  opacity: 0;
}

.wpte-trip-cat-btn {
  transition-delay: .4s;
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.wpte-trip-category .wpte-trip-category-img-wrap .wpte-trip-category-btn .wpte-trip-cat-btn:hover {
  background-color: #fff;
  color: #147DFE;
  transition: all .3s ease;
}

.wpte-trip-category .wpte-trip-category-text-wrap {
  margin-top: 24px;
}

.wpte-trip-category .wpte-trip-category-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.wpte-trip-category .wpte-trip-category-title a:hover {
  color: #147DFE;
}
.wpte-trip-category .wpte-trip-category-text-wrap .wpte-trip-category-title a {
  display: inline-block;
}
.wpte-trip-category .wpte-trip-category-title a {
  text-decoration: none;
  color: inherit;
  margin-right: 8px;
}

.wpte-trip-category .trip-count {
  font-size: 14px;
  font-weight: 500;
}

.centered {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.centered1 {
  display: flex;
  justify-content: center;
}


span {
  width: 25px;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  padding-top: 50px;
  background-color: rgba(31, 30, 30, 0.623);
  padding-bottom: 300px;
}

.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #47bfd4;
  border-radius: 25px;
}

.dropdown li {
  position: relative;
}

.dropdown li a {
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown li ul {
  border-radius: 25px;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: #333;
}

.dropdown li ul li a {
  border-radius: 25px;
  text-align: left;
  color: #cccccc;
  font-size: 14px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.dropdown li ul li a:hover {
  border-radius: 25px;
  background-color: #0abf53;
  color: #ffffff;
}

.dropdown li ul li ul {
  left: 100%;
  top: 0;
}

ul li:hover > a {
  background-color: #0abf53;
  color: #ffffff !important;
}

ul li:hover > ul {
  display: block;
}

.center-align {
  text-align: center;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

button {
  background-color: #d2d447;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #47d466;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.sub-title {
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.sidebar_button {
  position: fixed;
}

.center {
  text-align: center;
  display: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}

#wrapper {
  display: block;
}

.sb-content-tab .center {
  display: block;
}

.sb-content-tab #wrapper {
  display: none;
}

.right {
  float: right;
}

body {
  margin: 0px;
}

#default-sidebar {
  background-color: rgb(25, 118, 210);
  color: #ffffff;
}

.close-btn:hover {
  color: #fafafa;
}
