<body>
  <a id="top"></a>
  <div class="centered">
    <table>
      <tr id="tr1">
        <th colspan="5"><h1>Search for a location...</h1></th>
      </tr>
      <tr id="tr2">
        <td>
          <ul class="dropdown">
            <li>
              <a
                >{{
                  searchService.searchFiltersObject.chosenPackage !=
                  "Choose package type"
                    ? searchService.searchFiltersObject.chosenPackage
                    : "Select a package"
                }}
              </a>
              <ul>
                <li>
                  <a>
                    Package Type <br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenPackage
                      "
                      class="form-control"
                      name="packageType"
                      id="packageType"
                    >
                      <option [ngValue]="" disabled selected>
                        Choose package type
                      </option>
                      <option
                        *ngFor="let packageType of searchObject.packageTypes"
                        [ngValue]="packageType"
                      >
                        {{ packageType }}
                      </option>
                    </select></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="dropdown">
            <li>
              <i class="icons icon-plane"></i>
              <a>{{
                searchService.searchFiltersObject.chosenCountry !=
                  "Select Country" &&
                searchService.searchFiltersObject.chosenCity != "Select City"
                  ? searchService.searchFiltersObject.chosenCountry +
                    ", " +
                    searchService.searchFiltersObject.chosenCity
                  : "Select Destination"
              }}</a>
              <ul>
                <li>
                  <a>
                    Destination Country <br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenCountry
                      "
                      class="form-control"
                      name="country"
                      id="country"
                    >
                      <option [ngValue]="" disabled selected>
                        Select Country
                      </option>
                      <option
                        *ngFor="let country of searchObject.countries"
                        [ngValue]="country"
                      >
                        {{ country }}
                      </option>
                    </select></a
                  >
                </li>
                <li>
                  <a>
                    Destination City <br />
                    <select
                      [(ngModel)]="searchService.searchFiltersObject.chosenCity"
                      class="form-control"
                      name="city"
                      id="city"
                    >
                      <option [ngValue]="" disabled selected>
                        Select City
                      </option>
                      <option
                        *ngFor="let city of searchObject.cities"
                        [ngValue]="city"
                      >
                        {{ city }}
                      </option>
                    </select></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="dropdown">
            <li>
              <i class="icons icon-calendar"></i>
              <a>{{
                searchService.searchFiltersObject.chosenDate +
                  ", " +
                  searchService.searchFiltersObject.chosenNumberOfNights +
                  " nights"
              }}</a>
              <ul>
                <li>
                  <a>
                    Check-In Date: <br />

                    <input
                      type="date"
                      id="start"
                      name="trip-start"
                      [(ngModel)]="searchService.searchFiltersObject.chosenDate"
                      min="{{ minSearchDate }}"
                      max="{{ maxSearchDate }}"
                  /></a>
                </li>
                <li>
                  <a>
                    Number of nights <br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenNumberOfNights
                      "
                      class="form-control"
                      name="night"
                      id="night"
                    >
                      <option [ngValue]="" disabled selected>
                        Select Number of Nights
                      </option>
                      <option
                        *ngFor="let night of searchObject.numberOfNights"
                        [ngValue]="night"
                      >
                        {{ night }}
                      </option>
                    </select></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="dropdown">
            <li>
              <a>Choose your room</a>
              <ul>
                <li>
                  <a>
                    Room Type <br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenRoomType
                      "
                      class="form-control"
                      name="room"
                      id="room"
                    >
                      <option value="" disabled selected>
                        Select Room Type
                      </option>
                      <option
                        *ngFor="let room of searchObject.roomTypes"
                        [value]="room"
                      >
                        {{ room }}
                      </option>
                    </select></a
                  >
                </li>
                <li>
                  <a>
                    Number of Rooms<br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenNumberOfRooms
                      "
                      class="form-control"
                      name="roomNr"
                      id="roomNr"
                    >
                      <option value="" disabled selected>
                        Select Number of Rooms
                      </option>
                      <option
                        *ngFor="let roomNr of searchObject.numberOfRooms"
                        [value]="roomNr"
                      >
                        {{ roomNr }}
                      </option>
                    </select></a
                  >
                </li>
                <li>
                  <a>
                    Number of Adults<br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenNumberOfAdults
                      "
                      class="form-control"
                      name="adultNr"
                      id="adultNr"
                    >
                      <option value="" disabled selected>
                        Select Number of Adults
                      </option>
                      <option
                        *ngFor="let adultNr of searchObject.adultsNumber"
                        [value]="adultNr"
                      >
                        {{ adultNr }}
                      </option>
                    </select></a
                  >
                </li>
                <li>
                  <a>
                    Number of Kids<br />
                    <select
                      [(ngModel)]="
                        searchService.searchFiltersObject.chosenNumberOfKids
                      "
                      class="form-control"
                      name="kidNr"
                      id="kidNr"
                    >
                      <option value="" disabled selected>
                        Select Number of Kids
                      </option>
                      <option
                        *ngFor="let kidNr of searchObject.kidsNumber"
                        [value]="kidNr"
                      >
                        {{ kidNr }}
                      </option>
                    </select></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <button class="searchBtn" (click)="onSearch()">Search</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="search-bar"></div>
  <div class="activity-wrapper">
    <div class="activity-content-area">
      <div class="page-header">
        <h1 class="page-title" data-id="activities">Activities</h1>
        <div class="page-feat-image"></div>
        <div class="page-content">
          <p></p>
        </div>
      </div>
      <div class="activities-holder wpte-trip-list-wrapper">
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Off the beaten track
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/off-the-beaten-track/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/08/hike-2378678_1920-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[5].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/off-the-beaten-track/">
                {{ this.activities[5].name }}</a
              ><span class="trip-count">(7 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Pachete charter
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/vacanta-cu-charter/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/aircraft-513641-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[4].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/vacanta-cu-charter/">
                {{ this.activities[4].name }}</a
              ><span class="trip-count">(15 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">Pe skiuri</address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/la-ski-prin-europa/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/wintry-2068298-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[0].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/la-ski-prin-europa/">
                {{ this.activities[0].name }}</a
              ><span class="trip-count">(2 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Relaxare in vila privata
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a
                href="https://yolotravel.ro/activitati/relaxare-in-vila-privata/"
              >
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/clearwater-villa-ocean-view-1549550_1920-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[2].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a
                href="https://yolotravel.ro/activitati/relaxare-in-vila-privata/"
              >
                {{ this.activities[2].name }}</a
              ><span class="trip-count">(3 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">Sailing</address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/excursii-pe-mare/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/06/taylor-simpson-OakSlSa9gYk-unsplash-2-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[1].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/excursii-pe-mare/">
                {{ this.activities[1].name }}</a
              ><span class="trip-count">(2 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Tailor made trips
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/tailor-made-trips/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/08/dino-reichmuth-A5rCN8626Ck-unsplash-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a
                  class="wpte-trip-cat-btn"
                  [routerLink]="['/results']"
                  (click)="getLocationsByActivity(this.activities[3].id)"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/tailor-made-trips/">
                {{ this.activities[3].name }}</a
              ><span class="trip-count">(10 Trips)</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-wrapper">
    <div class="activity-content-area">
      <div class="page-header">
        <h1 class="page-title" data-id="activities">Favourite Locations</h1>
        <div class="page-feat-image"></div>
        <div class="page-content">
          <p></p>
        </div>
      </div>
      <div class="activities-holder wpte-trip-list-wrapper">
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Off the beaten track
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/off-the-beaten-track/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/08/hike-2378678_1920-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/off-the-beaten-track/">
                Off the beaten track</a
              ><span class="trip-count">(7 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Pachete charter
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/vacanta-cu-charter/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/aircraft-513641-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a [routerLink]="['/results']"> Pachete charter</a
              ><span class="trip-count">(15 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">Pe skiuri</address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/la-ski-prin-europa/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/wintry-2068298-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/la-ski-prin-europa/">
                Pe skiuri</a
              ><span class="trip-count">(2 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Relaxare in vila privata
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a
                href="https://yolotravel.ro/activitati/relaxare-in-vila-privata/"
              >
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/07/clearwater-villa-ocean-view-1549550_1920-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a
                href="https://yolotravel.ro/activitati/relaxare-in-vila-privata/"
              >
                Relaxare in vila privata</a
              ><span class="trip-count">(3 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">Sailing</address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/excursii-pe-mare/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/06/taylor-simpson-OakSlSa9gYk-unsplash-2-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/excursii-pe-mare/">
                Sailing</a
              ><span class="trip-count">(2 Trips)</span>
            </h2>
          </div>
        </div>
        <div class="item wpte-trip-category">
          <address itemprop="address" style="display: none">
            Tailor made trips
          </address>
          <div class="wpte-trip-category-img-wrap">
            <figure class="thumbnail">
              <a href="https://yolotravel.ro/activitati/tailor-made-trips/">
                <img
                  width="300"
                  height="405"
                  src="https://yolotravel.ro/wp-content/uploads/2020/08/dino-reichmuth-A5rCN8626Ck-unsplash-300x405.jpg"
                  class="attachment-activities-thumb-size size-activities-thumb-size"
                  alt=""
                  loading="lazy"
                  itemprop="image"
                />
              </a>
            </figure>
            <div class="wpte-trip-category-overlay">
              <div class="wpte-trip-subcat-wrap"></div>
              <div class="wpte-trip-category-btn">
                <a [routerLink]="['/results']" class="wpte-trip-cat-btn"
                  >View All</a
                >
              </div>
            </div>
          </div>
          <div class="wpte-trip-category-text-wrap">
            <h2 class="wpte-trip-category-title" itemprop="name">
              <a href="https://yolotravel.ro/activitati/tailor-made-trips/">
                Tailor made trips</a
              ><span class="trip-count">(10 Trips)</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
