<footer class="footer-area">
  <div class="footer-top-area section-bg-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Quick Links</h4>
            <div class="footer-menu">
              <ul>
                <li><a href="locations.html">Locations</a></li>
                <li><a href="account.html">My account</a></li>
                <li><a href="faq.html">FAQs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Information</h4>
            <div class="footer-menu">
              <ul>
                <li><a href="contact.html">Privacy Page</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contact.html">Careers</a></li>
                <li><a href="contact.html">Term &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">Customer Service</h4>
            <div class="footer-menu">
              <ul>
                <li><a href="contact.html">Help &amp; Contact Us</a></li>
                <li><a href="contact.html">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-about-widget">
            <h4 class="footer-title">About Our Shop</h4>
            <div class="footer-logo d-none">
              <div class="site-logo">
                <img src="img/logo.png" alt="Logo" />
              </div>
            </div>
            <div class="footer-menu">
              <ul>
                  <li>
                      <div class="footer-address-icon">
                          <i class="icon-location-pin"></i>
                      </div>
                      <div class="footer-address-info">
                          <p><a>Brooklyn, New York, United States</a></p>
                      </div>
                  </li>
                  <li>
                      <div class="footer-address-icon">
                          <i class="icon-phone"></i>
                      </div>
                      <div class="footer-address-info">
                          <p><a href="tel:+0123-456789">+0123-456789</a></p>
                      </div>
                  </li>
                  <li>
                      <div class="footer-address-icon">
                          <i class="icon-envelope"></i>
                      </div>
                      <div class="footer-address-info">
                          <p><a href="mailto:example@example.com">example@example.com</a></p>
                      </div>
                  </li>
              </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ltn__copyright-area ltn__copyright-2 ltn__border-top-2 section-bg-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="footer-copyright-left">
            <div class="ltn__copyright-design clearfix">
              <h3>© <span class="current-year">2021</span> - Karpatica Travel Agency. All Rights Reserved. </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
